# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
*.sqlite3
*.db

# Node
node_modules/
frontend/node_modules/
frontend/.vite/

# Logs
*.log
backend/*.log
vaultupload.log
secureshare.log

# Local uploads & build artifacts
backend/local_uploads/
local_uploads/

# Environments & IDE
.env
.env.*
.vscode/
.idea/

# Coverage & reports
.coverage
coverage/

# Dist and build outputs
build/
dist/
frontend/dist/

# Alembic cache
backend/alembic/__pycache__/

# Misc
*.swp
*.swo
moonlit-pursuit-457504-r4-ea6c1fc3f281.json